<div class="body">
	<div class="container">
		<%= flash[:notice] %>
		<div class="row">
			<div class="col-xs-3">
				<%= render 'users/user_info' %>
				<%= render 'books/new' %>
			</div>
			<div class="col-xs-9">
				<%= render 'books/list' %>
			</div>
		</div>
	</div>
</div>










